.full-centered-content
  display flex
  flex-direction column
  flex-wrap wrap
  justify-content center
  align-content center
  align-items center

.spring
  flex 1 1 auto

.collection
  display flex
  flex-direction: column
  justify-content: flex-start

  overflow-x hidden
  overflow-y scroll

  background-color: alpha(#fff, 1)

  >.container
    min-height 100%

    background-color alpha(#fff,0.25)
    >.item
      background-color: alpha(#000, 0.0)
      display flex
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;

  &.list
    >.container
        display grid
        padding 4px
        grid-gap 4px

      >.item
        margin 2px

  &.grid
    >.container
        display grid
        padding 4px
        grid-gap 4px
        grid-template-columns repeat(auto-fit, minmax(120px,1fr));

.el-loading-mask
  background-color alpha(#fff,0.1) !important
  >.el-loading-spinner
    top: calc(50% - 10px) !important
