.full-centered-content
  display flex
  flex-direction column
  flex-wrap wrap
  justify-content center
  align-content center
  align-items center

.spring
  flex 1 1 auto

.collection
  overflow-x hidden
  overflow-y scroll

  background-color: alpha(#fff, 1)

  >.container
    min-height 120px
    &:after
      content ""
      height 204px
      width 100%

    >.item
      background-color: alpha(#000, 0.0)
      display flex
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;

      // &:last-child
      //   margin-bottom: 216px

  &.list
    background-color alpha(#fff,1)
    >.container
      display grid
      padding 10px
      grid-gap 5px

  &.grid
    background-color alpha(#fff,1)
    >.container
      display grid
      padding 10px
      grid-gap 5px
      grid-template-columns repeat(auto-fit, minmax(180px,1fr));

.item.el-loading-parent--relative, .good-item.el-loading-parent--relative
  >div.el-loading-mask
    background-color alpha(#000,0.0) !important
    >.el-loading-spinner
      top: calc(50% - 0px) !important
      circle
        stroke: #fff

.el-loading-mask
  z-index initial!important


.goods-collection
  display flex
  flex-direction column
  flex-wrap nowrap
  justify-content flex-start
  align-content stretch
  align-items stretch

  &.el-loading-parent--relative >.el-loading-mask
    top 60px !important

  .head
    background-color #fff
    height 56px
    padding 8px

    >h1
      line-height 40px
      text-align center

    position relative
    &:after
      content: ""
      position absolute
      height 16px
      background linear-gradient(180deg, alpha(#000,0.05), alpha(#000,0)), linear-gradient(180deg, alpha(#000,0.02) 0%, alpha(#000,0) 20%)
      left 0
      right 0
      bottom -16px
      pointer-events none

  .collection
    flex 1 1 auto

  .item
    color #fff
    background-color alpha(#fff,0.9)
    overflow hidden
    padding 0px
    position relative
    cursor pointer
    height 120px

    >.good
      display flex
      flex-direction column
      flex-wrap wrap
      justify-content center
      align-content center
      align-items center
      position absolute
      top 0
      left 0
      right 0
      bottom 0
